{% if request.method != 'POST' %}
<h4 >Agregar Fase</h4>
    <form action="." id="form_add_phase" name="form_add_phase" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Nombre</td>
                <td>
                
                    <input type="text" name="name" value="{% if form.name.value != None %}{{ form.name.value }}{% endif %}">
                    {% if form.name.errors %} 
                        <div class="form_messaje">
                            <span class="arrow"></span>
                            {{ form.name.errors }}
                        </div>
                    {% endif %} 
                </td>
            </tr>
            <tr>
                <td>Siglas</td>
                <td>                    
                    <input type="text" name="initials" value="{% if form.initials.value != None %}{{ form.initials.value }}{% endif %}">
                    {% if form.initials.errors %} 
                    <div class="form_messaje">
                        <span class="arrow"></span>
                        {{ form.initials.errors }}
                    </div>
                {% endif %} 
                </td>
            </tr>
            <tr>
                <td>Descripci&oacute;n</td>
                <td>                    
                    <textarea name="description">{% if form.description.value != None %}{{ form.description.value }}{% endif %}</textarea>
                    {% if form.description.errors %} 
                    <div class="form_messaje">
                        <span class="arrow"></span>
                        {{ form.description.errors }}
                    </div>
                {% endif %} 
                </td>
            </tr>
            <tr >
                <td>
                    Imagen
                </td>
                <td>
                    
                    {{ form.image_file.label_tag }} {{ form.image_file.help_text }} 
                    <br />                   
                    {{ form.image_file }}
                             {% if form.image_file.errors or form.non_field_errors %} 
                    <div class="form_messaje">
                        <span class="arrow"></span>
                        {{ form.image_file.errors }}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %} 
                        <!-- <input type="file" id="id_image_file" name="image_file"> -->
                    
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Guardar"/></td>
                <td><input type="button" id="button_cancel_save_phase" value="Cancelar"/></td>
            </tr>
        </table>
    </form>
{% endif %}