{% extends 'html/planes/base_home.html' %}
{% load adminmedia admin_list i18n %}
{% load static %}
{% get_static_prefix as static_prefix %}

{% block script_extra %}
    
{% endblock %}

{% block content %}

    <div id="publications_project">
        {% include 'ajax/planes/publicationsproject.html' %}
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#publications_project").on('click',"#id_change_page", function(e){
                e.preventDefault();
                var page = $(this).attr("page");
                var valCookie = getCookie("sessionid");
                var project_id = {{ project.id }};
                $.post("/inverboy/home/ajax/pagedpublicationsproject/"+page+"/"+project_id+"/",{"sessionid":valCookie},function(result){
                    $("#publications_project").html(result.data.html);
                });
            });
        });
    </script>

{% endblock %}