<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
<script language="javascript" type="text/javascript">


</script>


<style type="text/css">
.distabla tr:hover {
         background-color: #DFE7F2;
         color: #000000;
}
.distabla tr.resaltar {
         background-color: #FFFFFF;
         /*color: #000000;*/
}
.distabla td {
	background-color: #000000;
	color: #FFFFFF;
	/*tr:nth-child(odd){ background: #ececec; /* color claro para las filas impares */
/*	tr:nth-child(even){ background: #bdbdbd;*/
         /*border: 1px solid #CCCCCC;*/
}
.distabla th {
         border: 1px solid #CCCCCC;
         background-color: #CCCCCC;
}
</style>

</head>

<body>

<table class="distabla">
    <caption>Trabajadores</caption>
    <tbody>
        <tr>
            <th width="122">Nombre</th>
            <th width="98">Edad</th>
        </tr><tr onMouseOver="this.style.background='#E1E1E1'; this.style.color='#618926'" onMouseOut="this.style.background='#FFFFFF'; this.style.color='black'">
            <td>Jose García</td>
            <td><div align="center">30</div></td>
        </tr><tr onMouseOver="this.style.background='#E1E1E1'; this.style.color='#618926'" onMouseOut="this.style.background='#FFFFFF'; this.style.color='black'">
            <td>Pedro Perez</td>
            <td><div align="center">22</div></td>
        </tr><tr onMouseOver="this.style.background='#E1E1E1'; this.style.color='#618926'" onMouseOut="this.style.background='#FFFFFF'; this.style.color='black'">
            <td>Lucía Hernando</td>
            <td><div align="center">24</div>
            </td>
        </tr><tr onMouseOver="this.style.background='#E1E1E1'; this.style.color='#618926'" onMouseOut="this.style.background='#FFFFFF'; this.style.color='black'">
            <td>Juan Martí</td>
            <td><div align="center">24</div></td>
        </tr>
    </tbody>
</table>

</body>
</html>
