<table id="tablaReportes" align="center">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
        {% for capitulo in capitulos.modelo %}
            <tr>
                <td>
                    <a href="/inverboy/home/subcapitulossearch/{{ capitulo.id }}/">{{ capitulo.nombre_capitulo }}</a>
                </td>
                <td>
                    {% if capitulo.estado_capitulo == 0 %}
                        Inactivo
                    {% else %}
                        Activo
                    {% endif %}
                </td>
                <td>
                    {% if 'inverboy.change_capitulo' in user.get_all_permissions %}
                        <a href="/inverboy/home/capituloschange/{{ capitulo.id }}/">Modificar</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if capitulos.has_prev %}
        <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_capitulos_apus('Dajax.process',{'pagina': 1, 'html': 'reportecapitulos.html', 'criterio': '{{ criterio }}' })"> << </a>
        <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_capitulos_apus('Dajax.process',{'pagina': {{ capitulos.prev_page }}, 'html': 'reportecapitulos.html', 'criterio': '{{ criterio }}' })"> < </a>
    {% else %}
    {% endif %}
        P&aacute;gina {{ capitulos.page }} de {{ capitulos.pages }}
    {% if capitulos.has_next %}
        <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_capitulos_apus('Dajax.process',{'pagina': {{ capitulos.next_page }}, 'html': 'reportecapitulos.html', 'criterio': '{{ criterio }}' })"> > </a>
        <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_capitulos_apus('Dajax.process',{'pagina': {{ capitulos.pages }}, 'html': 'reportecapitulos.html', 'criterio': '{{ criterio }}' })"> >> </a>
    {% else %}
    {% endif %}