{% load static %}
{% get_static_prefix as static_prefix %}
<table>
    <tr>
        <tr>
            <td>
                {% if fecha_inicial.error != '' %}
                    <ul>
                        <li>{{ fecha_inicial.error }}</li>
                    </ul>
                {% endif %}
                <label>Fecha inicial</label>
                <input type="text" id="id_fecha_inicial" name="fecha_inicial" placeholder="aaaa-mm-dd" value="{{ fecha_inicial.valor }}"/>
                <img src="{{ static_prefix }}ima/calendario.png" alt="calendar" width="16" height="16" border="0" title="Fecha Inicial" id="lanzador_f_i">
                <script type="text/javascript">
                    Calendar.setup({inputField:"id_fecha_inicial",ifFormat:"%Y-%m-%d",button:"lanzador_f_i"});
                </script>
            </td>
            <td>
                {% if fecha_final.error != '' %}
                    <ul>
                        <li>{{ fecha_final.error }}</li>
                    </ul>
                {% endif %}
                <label>Fecha final</label>
                <input type="text" id="id_fecha_final" name="fecha_final" placeholder="aaaa-mm-dd" value="{{ fecha_final.valor }}"/>
                <img src="{{ static_prefix }}ima/calendario.png" alt="calendar" width="16" height="16" border="0" title="Fecha final" id="lanzador_f_f">
                <script type="text/javascript">
                    Calendar.setup({inputField:"id_fecha_final",ifFormat:"%Y-%m-%d",button:"lanzador_f_f"});
                </script>
            </td>
        </tr>
        <td>
            <label>Criterio Busqueda</label>
            <input name="criterio" id="id_criterio" value="{{ criterio }}">
        </td>
        <td><input type="submit" value="Buscar"></td>
    </tr>
</table>
<table id="tablaReportes" align="center">
    <tr>
        <th>No.</th>
        <th>Fecha</th>
        <th>Orden de servicio</th>
        <th>Proveedor</th>
        <th>Persona</th>
        <th colspan="2">Opciones</th>
    </tr>
    {% for corte_diario_obra in cortes_diario_obra.modelo %}
        <tr>
            <td><label>CDO{{ corte_diario_obra.orden_servicio.proyecto.id }}-{{ corte_diario_obra.consecutivo }}</label></td>
            <td>
                <label>{{ corte_diario_obra.fecha_corte|date:'Y-m-d' }}</label>
            </td>
            <td>
                <label>OS{{ corte_diario_obra.orden_servicio.proyecto.id }}-{{ corte_diario_obra.orden_servicio.consecutivo }}</label>
            </td>
            <td>
                <label>{{ corte_diario_obra.orden_servicio.proveedor.razon_social }}</label>
            </td>
            <td>
                <label>{{ corte_diario_obra.persona }}</label>
            </td>
            <td>
                <a href="/inverboy/home/cortesdiarioobraproyectodetails/{{ corte_diario_obra.id }}/{{ proyecto.id }}/">Detalles</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% if cortes_diario_obra.has_prev %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_cortes_diario_obra('Dajax.process',{'pagina': 1, 'criterio': '{{ criterio }}', 'fecha_inicial': '{{ fecha_inicial.valor }}', 'fecha_final': '{{ fecha_final.valor }}', 'proyecto_id': {{ proyecto.id }} })"> << </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_cortes_diario_obra('Dajax.process',{'pagina': {{ cortes_diario_obra.prev_page }}, 'criterio': '{{ criterio }}', 'fecha_inicial': '{{ fecha_inicial.valor }}', 'fecha_final': '{{ fecha_final.valor }}', 'proyecto_id': {{ proyecto.id }} })"> < </a>
{% else %}
{% endif %}
    P&aacute;gina {{cortes_diario_obra.page}} de {{cortes_diario_obra.pages}}
{% if cortes_diario_obra.has_next %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_cortes_diario_obra('Dajax.process',{'pagina': {{ cortes_diario_obra.next_page }}, 'criterio': '{{ criterio }}', 'fecha_inicial': '{{ fecha_inicial.valor }}', 'fecha_final': '{{ fecha_final.valor }}', 'proyecto_id': {{ proyecto.id }} })"> > </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_cortes_diario_obra('Dajax.process',{'pagina': {{ cortes_diario_obra.pages }}, 'criterio': '{{ criterio }}', 'fecha_inicial': '{{ fecha_inicial.valor }}', 'fecha_final': '{{ fecha_final.valor }}', 'proyecto_id': {{ proyecto.id }} })"> >> </a>
{% else %}
{% endif %}