{% load humanize %}
<table id="tablaReportes" align="center">
    <tr>
        <th>APU</th>
        <th>Suministro</th>
        <th>Cantidad</th>
        <th>Descripci&oacute;n</th>
    </tr>
    {% for item in items.modelo %}
        <tr>
            <td>
                <label>
                    {% if item.suministro.suministro.apu_proyecto.capitulo.tipo_capitulo == 2 %}
                        {{ item.suministro.suministro.apu_proyecto.capitulo.capitulo_asociado.nombre_capitulo }} - {{ item.suministro.suministro.apu_proyecto.capitulo.nombre_capitulo }}
                    {% else %}
                        {{ item.suministro.suministro.apu_proyecto.capitulo.nombre_capitulo }}
                    {% endif %}
                    - {{ item.suministro.suministro.apu_proyecto.nombre_apu }}
                </label>
            </td>
            <td>
                {{ item.suministro.suministro.suministro.nombre }}
            </td>
            <td>
                <label>{{ item.valor|force_escape|intcomma }}</label>
            </td>
            <td>
                {{ item.descripcion }}
            </td>
        </tr>
    {% endfor %}
</table>
{% if items.has_prev %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_items_orden_giro('Dajax.process',{'pagina': 1, 'orden_giro_id': {{ orden_giro.id }}, 'proyecto_id': {{ proyecto.id }} })"> << </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_items_orden_giro('Dajax.process',{'pagina': {{ items.prev_page }}, 'orden_giro_id': {{ orden_giro.id }}, 'proyecto_id': {{ proyecto.id }} })"> < </a>
{% else %}
{% endif %}
    P&aacute;gina {{items.page}} de {{items.pages}}
{% if items.has_next %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_items_orden_giro('Dajax.process',{'pagina': {{ items.next_page }}, 'orden_giro_id': {{ orden_giro.id }}, 'proyecto_id': {{ proyecto.id }} })"> > </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_items_orden_giro('Dajax.process',{'pagina': {{ items.pages }}, 'orden_giro_id': {{ orden_giro.id }}, 'proyecto_id': {{ proyecto.id }} })"> >> </a>
{% else %}
{% endif %}