<table>
    <tr>
        <td>
            Criterio Busqueda
        </td>
        <td>
            <input name="criterio" id="id_criterio" value="{{ criterio }}">
        </td>
        <td><input type="submit" value="Buscar"></td>
    </tr>
</table>
<table id="tablaReportes" align="center">
    <tr>
        <th>No.</th>
        <th>Fecha creaci&oacute;n</th>
        <th>Proveedor</th>
        <th>Tercero</th>
        <th>Persona</th>
        <th colspan="2">Opciones</th>
    </tr>
    {% for orden_servicio in ordenes_servicio.modelo %}
        <tr>
            <td>
                <label>OS{{ orden_servicio.proyecto.id }}-{{ orden_servicio.consecutivo }}</label>
            </td>
            <td>
                <label>{{ orden_servicio.fecha_creacion|date:'Y-m-d' }}<label>
            </td>
            <td>
                <label>{{ orden_servicio.proveedor.razon_social }}</label>
            </td>
            <td>
                {% if orden_servicio.tercero != None %}
                    <label>{{ orden_servicio.tercero.razon_social }}</label>
                {% endif %}
            </td>
            <td>
                <label>{{ orden_servicio.persona.first_name }} {{ orden_servicio.persona.last_name }}</label>
            </td>
            <td>
                <a href="/inverboy/home/cortediarioobraadd/{{ orden_servicio.id }}/{{ proyecto.id }}/">Corte diario de obra</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% if ordenes_servicio.has_prev %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_ordenes_servicio_corte_diario_obra_add('Dajax.process',{'pagina': 1, 'criterio': '{{ criterio }}', 'proyecto_id': {{ proyecto.id }} })"> << </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_ordenes_servicio_corte_diario_obra_add('Dajax.process',{'pagina': {{ ordenes_servicio.prev_page }}, 'criterio': '{{ criterio }}', 'proyecto_id': {{ proyecto.id }} })"> < </a>
{% else %}
{% endif %}
    P&aacute;gina {{ordenes_servicio.page}} de {{ordenes_servicio.pages}}
{% if ordenes_servicio.has_next %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_ordenes_servicio_corte_diario_obra_add('Dajax.process',{'pagina': {{ordenes_servicio.next_page }}, 'criterio': '{{ criterio }}', 'proyecto_id': {{ proyecto.id }} })"> > </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_ordenes_servicio_corte_diario_obra_add('Dajax.process',{'pagina': {{ordenes_servicio.pages }}, 'criterio': '{{ criterio }}', 'proyecto_id': {{ proyecto.id }} })"> >> </a>
{% else %}
{% endif %}