 {% load humanize %}
{% load static %}
{% load adminmedia admin_list i18n %}
{% get_static_prefix as static_prefix %}
<link rel="stylesheet" href="{{ static_prefix }}css/personalizado.css">
<!-- <table id="tablaReportes" align="center" class="tabla_suministros_cotizacion"> -->
<table class="tabla_dedalo" align="center">
    <tr>
        <th></th>
        <th>Clas.</th>
        <th>Suministro</th>
        <!--<th>Sinonimos</th>-->
        <th>Cantidad cotizada</th>
        <th>U M</th>
        <!--<th>Unidad de embalaje</th>-->
        <th>Precio/Unitario</th>
        <th>+ Iva</th>
        <th>Observaciones cot.</th>
        <th>Cantidad requerida proyecto</th>
        <th>Observaciones req.</th>
    </tr>
    {% for suministro in suministros.modelo %}
        <tr>
            <td>
                {% if 'inverboy.add_ordencompra' in user.get_all_permissions %}
                    <img id="id_elimina_{{ suministro.suministro.id  }}" src="{{ static_prefix }}ima/elimina.jpg" onclick="eliminar_suministro({{ suministro.suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});"/>
                {% endif %}
            </td>
            <td>
                {{ suministro.suministro.clasificacion_general }}
            </td>
            <td>
                {{ suministro.suministro.nombre }}
            </td>
            <!--<td>
                {{ suministro.suministro.sinonimos }}
            </td>-->
            <td>
                <label id="id_label_error_cantidad_{{ suministro.id }}">{% if error.item == 'cantidad' and error.id == suministro.id %}{{ error.error }}{% endif %}</label>
                <input type="text" id="id_text_cantidad_{{ suministro.id }}" name="text_cantidad" size="12" {% if error.item == 'cantidad' and error.id == suministro.id %}value="{{ error.value|force_escape }}"{% else %} disabled="disabled" value="{{ suministro.cantidad_cotizada|intcomma|force_escape }}"{% endif %}/>
                {% if error.item == 'cantidad' and error.id == suministro.id and 'inverboy.add_ordencompra' in user.get_all_permissions %}
                    <img id="id_ima_2_{{ suministro.id }}" name="ima_2" src="{{ static_prefix }}ima/vistobueno.jpg"  style="width:22px; height:22px;" onclick="modificarCantidad({{ suministros.page }}, {{ suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});"/>
                {% else %}
                    {% if 'inverboy.add_ordencompra' in user.get_all_permissions %}
                        <img id="id_ima_{{ suministro.id }}" name="ima" src="{{ static_prefix }}ima/lapiz.png" style="width:22px; height:22px" onclick="activarInput({{ suministros.page }}, {{ suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});">
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {{ suministro.suministro.unidad_medida }}
            </td>
            <!--<td>
                {{ suministro.suministro.unidad_embalaje|force_escape|intcomma }}
            </td>-->
            <td>
                <label id="id_label_error_precio_{{ suministro.id }}">{% if error.item == 'precio' and error.id == suministro.id %}{{ error.error }}{% else %}{% if error == 'Revise los precios, deben ser mayores a 0' and suministro.precio == 0 %}Campo incorrecto{% endif %}{% endif %}</label>
                <input type="text" id="id_text_precio_{{ suministro.id }}" name="text_precio" size="12" {% if error.item == 'precio' and error.id == suministro.id %}value="{{ error.value|force_escape }}"{% else %} disabled="disabled" value="{{ suministro.precio|intcomma|force_escape }}"{% endif %}/>
                {% if 'inverboy.add_ordencompra' in user.get_all_permissions %}
                    {% if error.item == 'precio' and error.id == suministro.id %}
                        <img id="id_ima_4_{{ suministro.id }}" name="ima_4" src="{{ static_prefix }}ima/vistobueno.jpg"  style="width:22px; height:22px;" onclick="modificarPrecio({{ suministros.page }}, {{ suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});"/>
                    {% else %}
                        <img id="id_ima_3_{{ suministro.id }}" name="ima_3" src="{{ static_prefix }}ima/lapiz.png" style="width:22px; height:22px" onclick="activarInputPrecio({{ suministros.page }}, {{ suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});">
                    {% endif %}
                {% endif %}
            </td>
            <td>
                <input type="checkbox" id="id_check_iva_{{ suministro.id }}" {% if suministro.iva_suministro == 0.16 %}checked="checked"{% endif %} onchange="modificarIva({{ suministros.page }}, {{ suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});" {% if 'inverboy.add_ordencompra' not in user.get_all_permissions %} disabled="disabled" {% endif %}>
            </td>
            <td>
                {% if error.item == 'observaciones' and error.id == suministro.id %}
                    <textarea id="id_text_observaciones_{{ suministro.id }}" name="text_observaciones_{{ suministro.id }}">{{ error.value }}</textarea>
                    {% if 'inverboy.add_ordencompra' in user.get_all_permissions %}
                        <img id="id_ima_6_{{ suministro.id }}" name="ima_6" src="{{ static_prefix }}ima/vistobueno.jpg"  style="width:22px; height:22px;" onclick="modificarObservaciones({{ suministros.page }}, {{ suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});"/>
                    {% endif %}
                {% else %}
                    <label>{{ suministro.observaciones }}</label>
                    {% if 'inverboy.add_ordencompra' in user.get_all_permissions %}
                        <img id="id_ima_5_{{ suministro.id }}" name="ima_5" src="{{ static_prefix }}ima/lapiz.png" style="width:22px; height:22px" onclick="activarInputObservaciones({{ suministros.page }}, {{ suministro.id }}, {{ cotizacion.id }}, {{ proyecto.id }});">
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {{ suministro.cantidad_total_requerida_suministro_proyecto.cantidad_requerida|force_escape|intcomma }}
            </td>
            <td>
                {{ suministro.cantidad_total_requerida_suministro_proyecto.observaciones }}
            </td>
        </tr>
    {% endfor %}
</table>
{% if suministros.has_prev %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_cotizacion('Dajax.process',{'pagina': 1, 'cotizacion_id': {{ cotizacion.id }}, 'proyecto_id': {{ proyecto.id }} })"> << </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_cotizacion('Dajax.process',{'pagina': {{ suministros.prev_page }}, 'cotizacion_id': '{{ cotizacion.id }}', 'proyecto_id': {{ proyecto.id }} })"> < </a>
{% else %}
{% endif %}
    P&aacute;gina {{ suministros.page }} de {{ suministros.pages }}
{% if suministros.has_next %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_cotizacion('Dajax.process',{'pagina': {{ suministros.next_page }}, 'cotizacion_id': {{ cotizacion.id }}, 'proyecto_id': {{ proyecto.id }} })"> > </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_cotizacion('Dajax.process',{'pagina': {{ suministros.pages }}, 'cotizacion_id': {{ cotizacion.id }}, 'proyecto_id': {{ proyecto.id }} })"> >> </a>
{% else %}
{% endif %}
<br>



<br>
<div>
    <table class="tabla_dedalo" align="center">
        <tr>
            <th colspan="2">Previo</th>
        </tr>
        <tr>
            <th>Subtotal</th>
            <td><label>{{ cotizacion.subtotal|force_escape|intcomma }}</label></td>
        </tr>
        <tr>
            <th>IVA</th>
            <td><label>{{ cotizacion.valor_iva|force_escape|intcomma }}</label></td>
        </tr>
        <tr>
            <th>Total</th>
            <td><label>{{ cotizacion.valor_total|force_escape|intcomma }}</label></td>
        </tr>
    </table>
</div>