{% load humanize %}
<table>
    <tr>
        <td><label>Criterio</label></td>
        <td><input type="text" name="criterio" value="{{ criterio }}"></td>
        <td><input type="submit" value="Buscar"></td>
    </tr>
</table>
<table id="tablaReportes" align="center">
    <tr>
        <th>Clas.</th>
        <th>Suministro</th>
        <th>Unidad de medida</th>
        <th>Valor maximo</th>
        <th>Fecha</th>
        <th>Valor minimo</th>
        <th>Fecha</th>
        <th>Valor ult.</th>
        <th>Fecha</th>
    </tr>
    {% for suministro in suministros %}
        <tr>
            <td>
                <label>{{ suministro.suministro.clasificacion_general }}</label>
            </td>
            <td>
                <label>{{ suministro.suministro.nombre }}</label>
            </td>
            <td>
                <label>{{ suministro.suministro.unidad_medida }}</label>
            </td>
            <td>
                <label>{{ suministro.valor_maximo|force_escape|intcomma }}</label>
            </td>
            <td>
                <label>
                    {% if suministro.valor_maximo != '-' %}
                        {{ suministro.fecha_valor_maximo|date:'Y-m-d' }}
                    {% else %}
                        -
                    {% endif %}
                </label>
            </td>
            <td>
                <label>{{ suministro.valor_minimo|force_escape|intcomma }}</label>
            </td>
            <td>
                <label>
                    {% if suministro.valor_minimo != '-' %}
                        {{ suministro.fecha_valor_minimo|date:'Y-m-d' }}
                    {% else %}
                        -
                    {% endif %}
                </label>
            </td>
            <td>
                <label>{{ suministro.valor_actual|force_escape|intcomma }}</label>
            </td>
            <td>
                <label>
                    {% if suministro.valor_actual != '-' %}
                        {{ suministro.fecha_valor_actual|date:'Y-m-d' }}
                    {% else %}
                        -
                    {% endif %}
                </label>
            </td>
        </tr>
    {% endfor %}
</table>
{% if suministros.has_prev %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_orden_compra('Dajax.process',{'pagina': 1, 'orden_compra_id': {{ orden_compra.id }}, 'proyecto_id': {{ proyecto.id }} })"> << </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_orden_compra('Dajax.process',{'pagina': {{ suministros.prev_page }}, 'orden_compra_id': {{ orden_compra.id }}, 'proyecto_id': {{ proyecto.id }} })"> < </a>
{% else %}
{% endif %}
    P&aacute;gina {{suministros.page}} de {{suministros.pages}}
{% if suministros.has_next %}
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_orden_compra('Dajax.process',{'pagina': {{ suministros.next_page }}, 'orden_compra_id': {{ orden_compra.id }}, 'proyecto_id': {{ proyecto.id }} })"> > </a>
    <a href="javascript:Dajaxice.aplicacion.inverboy.paginar_suministros_orden_compra('Dajax.process',{'pagina': {{ suministros.pages }}, 'orden_compra_id': {{ orden_compra.id }}, 'proyecto_id': {{ proyecto.id }} })"> >> </a>
{% else %}
{% endif %}