{% extends "html/base_home.html" %}
{% load adminmedia admin_list i18n %}
{% block titulo %}
    <a href="/inverboy/home/proyectodetails/{{ proyecto.id }}">Proyecto: {{ proyecto.nombre }}</a> - {{ titulo }}
{% endblock %}
{% block script %}
{% endblock %}

{% block css %}
{% endblock %}

{% block contenido %}
    <form action="." method="POST">
        <table>
            {{ form.as_table }}
        </table>
        <p align="center"><input type="submit" value="Guardar" onclick="this.disabled=true"></p>
    </form>
{% endblock %}