<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">  
    <link rel="stylesheet" href="leaflet.css">
    <link rel="stylesheet" href="leaflet.ie.css">
    <link rel="stylesheet/less" type="text/css" href="css/template.less" />
    <script src="js/less-1.4.1.min.js"></script> 
    

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

    <div id="wrapper">
        
        <aside>
            <div id="logo">

            </div>
            <div id="content_aside">
                <nav class="menu">
                    <ul>
                         <li><a href="#">Etapas del Proyecto</a>
                            <span class="vin1"></span>
                            <span class="linea1"></span>
                                <ul>
                                     <li>
                                         <a href="phase.html">Instalaciones internas</a>   
                                     </li>     
                                     <li>
                                         <a href="#">Instalaciones Externas</a>   
                                     </li>     
                                     <li>
                                         <a href="#">Otras</a>   
                                     </li>     
                                </ul>   
                         </li>
                         <li><a href="#"></a></li>
                         <li><a href="#"></a></li>
                         <li><a href="#"></a></li>
                    </ul>
                </nav>
            
            
            <div id="chat">
                <div id="chat_title">
                        Notificaciones del proyecto
                </div>
                <div id="chat_content">
                        <div class="notification">
                            <div class="notification_header">
                                <img src="images/persons/victor.jpg" >
                                <div class="notification_title">
                                    Titulo
                                </div>
                                <div class="notification_date_time">
                                    2013-1-4 : 10:20
                                </div>
                                <div class="notification_text">
                                Mauris posuere enim id turpis pulvinar, placerat euismod diam consequat. Mauris quis mi vitae ipsum facilisis consectetur eget venenatis arcu. Etiam lorem nisi, vestibulum eget dignissim ac, consequat quis ipsum. Aenean rhoncus tristique ligula nec pretium.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="chat_division"> </div>
                                <div class="notification">
                            <div class="notification_header">
                                <img src="images/persons/javier.jpg" >
                                <div class="notification_title">
                                    Faltan herramientas en zona sur
                                </div>
                                <div class="notification_date_time">
                                    2013-1-4 : 09:13
                                </div>
                                <div class="notification_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada, metus sit amet mollis convallis, justo purus pharetra lacus, non ullamcorper leo augue eget leo. Pellentesque a fermentum ligula. Integer in sapien a libero porta congue ac id nunc. Cras.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div style="clear: both"></div>

                </div>

            </div>
            </div>
        </aside>
            <section id="cab1">
            <header id="section1">
                
                <span class="casa"></span>
                <a href="#" id="volver">Volver a proyectos</a>
                
                <div id="section_title">
                    Proyectos edfone<span class="vin3"></span>
                </div>                
                
            </header>
            <div id="section2">                
                <div id="section2_content">inicio - proeyectos -  proyectos edfone</div>                
                <div id="section2_user">Bienvenido JAvier Alberto Rodriguez Diaz</div>
            </div>
            <nav  id="section3">
                <ul class="nav_bar">
                    <li>
                        <span class="vin2"></span> 
                        <a href="#">Agregar Etapas</a>
                    </li>
                    <li>
                        <span class="vin2"></span> 
                        <a href="#">Gestión Documental</a>
                    </li>
                    <li>
                        <span class="vin2"></span>
                        <a href="#"> Participantes</a>
                    </li>
                </ul>
                <a class="exit"href="#">Salir</a>
            </nav>

        
        </section>
        <div id="oculto"></div>

        <div id="content">
                
            <div id="title">
                <div id="title_etapa">
                    <!--none -->
                </div>    
                <div class="marco_titulo">ETAPAS BOARD</div>
            </div>

            <div id="conten_stage">
                <div class="content_block">
                    <div class="conten_block_title"><span class="vin2"></span> <h4>Otro Titulo</h4></div>
                    
                    <div class="conten_block_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, interdum ut massa id, pharetra feugiat erat. Integer iaculis accumsan lorem, ac malesuada odio ullamcorper vel. Ut condimentum nunc eget sem posuere sollicitudin. Ut bibendum.....
                       <!-- lectus non sagittis sagittis, augue nisi placerat lectus, ullamcorper pulvinar velit justo ac eros. Sed ornare diam lectus, a fringilla magna tincidunt eu. Etiam sed sagittis urna. Vestibulum at nunc quis sapien feugiat euismod id id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lacinia convallis tellus sed facilisis. Integer non nisl quam. Mauris eget ante lectus. -->
                    </div>
                    
                    <a href="phase.html" class="see_more">Ver mas...</a>
                    <div class="clearfix"></div>
                    <div class="division"></div>

                </div>                    
                    <div class="clearfix"></div>
                <div class="content_block">
                    <div class="conten_block_title"><span class="vin2"></span> <h4>Otro Titulo</h4></div>
                    
                    <div class="conten_block_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, interdum ut massa id, pharetra feugiat erat. Integer iaculis accumsan lorem, ac malesuada odio ullamcorper vel. Ut condimentum nunc eget sem posuere sollicitudin. Ut bibendum.....
                       <!-- lectus non sagittis sagittis, augue nisi placerat lectus, ullamcorper pulvinar velit justo ac eros. Sed ornare diam lectus, a fringilla magna tincidunt eu. Etiam sed sagittis urna. Vestibulum at nunc quis sapien feugiat euismod id id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lacinia convallis tellus sed facilisis. Integer non nisl quam. Mauris eget ante lectus. -->
                    </div>
                    
                    <a href="phase.html" class="see_more">Ver mas...</a>
                    <div class="clearfix"></div>
                    <div class="division"></div>
                </div>    
                              <div class="clearfix"></div>      

<div class="content_block">
                    <div class="conten_block_title"><span class="vin2"></span> <h4>Otro Titulo</h4></div>
                    
                    <div class="conten_block_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, interdum ut massa id, pharetra feugiat erat. Integer iaculis accumsan lorem, ac malesuada odio ullamcorper vel. Ut condimentum nunc eget sem posuere sollicitudin. Ut bibendum.....
                       <!-- lectus non sagittis sagittis, augue nisi placerat lectus, ullamcorper pulvinar velit justo ac eros. Sed ornare diam lectus, a fringilla magna tincidunt eu. Etiam sed sagittis urna. Vestibulum at nunc quis sapien feugiat euismod id id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lacinia convallis tellus sed facilisis. Integer non nisl quam. Mauris eget ante lectus. -->
                    </div>
                    
                    <a href="phase.html" class="see_more">Ver mas...</a>
                    <div class="clearfix"></div>
                    <div class="division"></div>
                </div>    
                              <div class="clearfix"></div>      
<div class="content_block">
                    <div class="conten_block_title"><span class="vin2"></span> <h4>Otro Titulo</h4></div>
                    
                    <div class="conten_block_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, interdum ut massa id, pharetra feugiat erat. Integer iaculis accumsan lorem, ac malesuada odio ullamcorper vel. Ut condimentum nunc eget sem posuere sollicitudin. Ut bibendum.....
                       <!-- lectus non sagittis sagittis, augue nisi placerat lectus, ullamcorper pulvinar velit justo ac eros. Sed ornare diam lectus, a fringilla magna tincidunt eu. Etiam sed sagittis urna. Vestibulum at nunc quis sapien feugiat euismod id id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lacinia convallis tellus sed facilisis. Integer non nisl quam. Mauris eget ante lectus. -->
                    </div>
                    
                    <a href="phase.html" class="see_more">Ver mas...</a>
                    <div class="clearfix"></div>
                    <div class="division"></div>
                </div>    
                              <div class="clearfix"></div>      
<div class="content_block">
                    <div class="conten_block_title"><span class="vin2"></span> <h4>Otro Titulo</h4></div>
                    
                    <div class="conten_block_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, interdum ut massa id, pharetra feugiat erat. Integer iaculis accumsan lorem, ac malesuada odio ullamcorper vel. Ut condimentum nunc eget sem posuere sollicitudin. Ut bibendum.....
                       <!-- lectus non sagittis sagittis, augue nisi placerat lectus, ullamcorper pulvinar velit justo ac eros. Sed ornare diam lectus, a fringilla magna tincidunt eu. Etiam sed sagittis urna. Vestibulum at nunc quis sapien feugiat euismod id id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lacinia convallis tellus sed facilisis. Integer non nisl quam. Mauris eget ante lectus. -->
                    </div>
                    
                    <a href="phase.html" class="see_more">Ver mas...</a>
                    <div class="clearfix"></div>
                    <div class="division"></div>
                </div>    
                              <div class="clearfix"></div>      
<div class="content_block">
                    <div class="conten_block_title"><span class="vin2"></span> <h4>Otro Titulo</h4></div>
                    
                    <div class="conten_block_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, interdum ut massa id, pharetra feugiat erat. Integer iaculis accumsan lorem, ac malesuada odio ullamcorper vel. Ut condimentum nunc eget sem posuere sollicitudin. Ut bibendum.....
                       <!-- lectus non sagittis sagittis, augue nisi placerat lectus, ullamcorper pulvinar velit justo ac eros. Sed ornare diam lectus, a fringilla magna tincidunt eu. Etiam sed sagittis urna. Vestibulum at nunc quis sapien feugiat euismod id id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lacinia convallis tellus sed facilisis. Integer non nisl quam. Mauris eget ante lectus. -->
                    </div>
                    
                    <a href="phase.html" class="see_more">Ver mas...</a>
                    <div class="clearfix"></div>
                    <div class="division"></div>
                </div>    
                              <div class="clearfix"></div>      
<div class="content_block">
                    <div class="conten_block_title"><span class="vin2"></span> <h4>Otro Titulo</h4></div>
                    
                    <div class="conten_block_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ipsum leo, interdum ut massa id, pharetra feugiat erat. Integer iaculis accumsan lorem, ac malesuada odio ullamcorper vel. Ut condimentum nunc eget sem posuere sollicitudin. Ut bibendum.....
                       <!-- lectus non sagittis sagittis, augue nisi placerat lectus, ullamcorper pulvinar velit justo ac eros. Sed ornare diam lectus, a fringilla magna tincidunt eu. Etiam sed sagittis urna. Vestibulum at nunc quis sapien feugiat euismod id id ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin lacinia convallis tellus sed facilisis. Integer non nisl quam. Mauris eget ante lectus. -->
                    </div>
                    
                    <a href="phase.html" class="see_more">Ver mas...</a>
                    <div class="clearfix"></div>
                    <div class="division"></div>
                </div>    
                              <div class="clearfix"></div>      
                                



                              

            </div>  
        </div>
                
        

    </div>

    <footer>
        Todos los derechos reservados faroing - inversiones Boyaca
    </footer>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

         

           <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>-->

            <script src="js/plugins.js"></script>        
            <script src="js/jquery.js"></script>
            <script src="leaflet.js" ></script>
            <script src="js/main.js"></script> 
            
            <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src='//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        </body>
        </html>
