<form action="#" id="id_form_pregunta" method="POST"><h2>Nueva pregunta</h2>
    {% csrf_token %}
    <table id="id_tabla_nueva_pregunta">
        {% for campo in form %}
            <tr id="fila_respuesta_{{ forloop.counter0 }}">
                <th>
                    <label>{{ campo.label_tag  }}</label>
                </th>
                <td>
                    {{ campo.errors }}
                    {{ campo }}
                    {% if forloop.last %}
                        <input type='button' id='id_btn_agregar_respuesta' value='+'>
                        {% if forloop.counter > 2 %}
                            <input type='button' id='id_btn_eliminar_respuesta' value='-'>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <!-- {{ form.as_table }} -->
    </table>
    <input type="submit" value="Guardar pregunta"><input type="button" id="id_cancelar_agregar_pregunta" value="Cancelar">
</form>