{% load humanize %}
<table id="tablaReportes" border="1" align="center">
    <tbody id=cuerpoTabla >
        <tr>
            <th>N&deg;</th>
            <th>Feha desembolso</th>
            <th>Valor</th>
            <th colspan="2">Opciones</th>
        </tr>
        {% for cuota_efectivo_contrato in cuotas_efectivo_contrato %}
            <tr {% if forloop.first %}style="background: #808080; padding-top: 10px; padding-bottom: 10px; border: 2px;"{% endif %}>
                <td><label>{{ forloop.counter }}</label></td>
                <td><label>{{ cuota_efectivo_contrato.fecha_desembolso }}</label></td>
                <td><label>{{ cuota_efectivo_contrato.valor|force_escape|intcomma }}</label></td>
                <td><a href = "#" id="id_btn_modificar_pago_efectivo" indice="{{ forloop.counter0 }}">Modificar</a></td>
                <td><a href = "#" id="id_btn_eliminar_pago_efectivo" indice="{{ forloop.counter0 }}">Borrar</a></td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="3">Total</th>
            <td colspan="2" align="right"><label>${{ valor_efectivo_pagar|force_escape|intcomma }}</label></td>
        </tr>
    </tbody>
</table>