{% extends "html/base_home.html" %}
{% block titulo %}<a href="/inverboy/home/proyectodetails/{{ proyecto.id }}">Proyecto: {{ proyecto.nombre }}</a> - Compras por proveedor{% endblock %}
{% block script %}
    <script type="text/javascript" charset="utf-8">
        function suministrosProveedor(proveedor_id, proyecto_id) {
            Dajaxice.aplicacion.inverboy.compra_suministros_proveedor('Dajax.process',{'proveedor_id': proveedor_id, 'proyecto_id': proyecto_id });
        }
        function anadirSuministroCotizacion(pagina, suministro_id, proveedor_id, criterio, proyecto_id) {
            cantidad = document.getElementById('id_text_cantidad_'+suministro_id).value;
            observaciones = document.getElementById('id_text_observaciones_'+suministro_id).value;
            document.getElementById('ahref_agregar_suministro_'+suministro_id).style.display = 'none';
            document.getElementById('id_cargando_agregar_suministro_'+suministro_id).style.display = 'block';
            Dajaxice.aplicacion.inverboy.anadir_suministro_cotizacion('Dajax.process',{ 'pagina': pagina, 'suministro_id': suministro_id, 'cantidad': cantidad, 'observaciones': observaciones, 'proveedor_id': proveedor_id, 'criterio': criterio, 'proyecto_id': proyecto_id });
        }
        function activarInputCantidad(pagina, suministro_id, proveedor_id, criterio, proyecto_id) {
            Dajaxice.aplicacion.inverboy.activar_input_cantidad_suministro_cotizacion_add('Dajax.process',{ 'pagina': pagina, 'suministro_id': suministro_id, 'proveedor_id': proveedor_id, 'criterio': criterio, 'proyecto_id': proyecto_id });
        }
        function buscarSuministros(proveedor_id, proyecto_id) {
            criterio = document.getElementById('id_text_busqueda').value;
            Dajaxice.aplicacion.inverboy.buscar_suministros_proveedor_contizacion_add('Dajax.process',{ 'criterio': criterio, 'proveedor_id': proveedor_id, 'proyecto_id': proyecto_id });
        } 
        function cancelarCotizacion(proveedor_id, proyecto_id) {
            document.getElementById('light').style.display='none';
            document.getElementById('fade').style.display='none';
        }
        function cotizarTodo(proveedor_id, proyecto_id) {
            Dajaxice.aplicacion.inverboy.cotizar_todos_suministros_proveedor('Dajax.process',{ 'proveedor_id': proveedor_id, 'proyecto_id': proyecto_id });
        }
        function realizarCotizacion(proyecto_id) {
            document.getElementById('id_guardar').disabled=true;
            Dajaxice.aplicacion.inverboy.realizar_cotizacion('Dajax.process',{ 'proyecto_id': proyecto_id });
        }

        // VENTANA EMERGENTE PROVEEDOR
        function detalles_proveedor(proveedor_id, indice) {
            Dajaxice.aplicacion.inverboy.informacion_proveedor('Dajax.process',{ 'id': proveedor_id, 'indice': indice });
        }
        function cerrarVentanaProveedor() {
            document.getElementById('flotanteProveedores').style.display = 'none' ;
        }
        // VENTANA EMERGENTE PROVEEDOR
    </script>
    <style type="text/css">
        .border{
            display: none;
            /*position: absolute;*/
            width: auto;
            height: auto;
            border-bottom: solid 4px #494949;
            border-right: solid 4px #494949;
            border-top: solid 5px #E0EDDF;
            border-left: solid 5px #E0EDDF;
            background: #f4fcf4;
            padding: 16px;
            position:absolute;
            color: #008844;
            z-index:1002;
            overflow: auto;
            font-weight:bold;
		    text-shadow: 1px 1px #494949;
        }
        /* base semi-transparente */
        .overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            z-index:1001;
            opacity:.75;
            -moz-opacity: 0.75;
            filter: alpha(opacity=75);
        }

        /* estilo para lo q este dentro de la ventana modal */
        .modal {
            display: none;
            position: absolute;
            width: 880px;
            height: 600px;
            left: 50%;
            top: 50%;
            margin-left: -440px;  /*Tamaño del DIV entre 2*/
            margin-top: -300px;  /*Tamaño del DIV entre 2*/
            padding: 16px;
            background: #fff;
            color: #333;
            z-index:1002;
            overflow: auto;
        }
    </style>
{% endblock %}
{% block contenido %}
    <!-- base semi-transparente -->
    <div id="fade" class="overlay" onclick = ""></div>
    <!-- fin base semi-transparente -->
    <!-- ventana modal -->
    <div id="light" class="modal">
    </div>
    <div id='flotanteProveedores' class="border">
        {% include 'ajax/informacionproveedor.html' %}
    </div>
    <form action="." method="POST">
        <div id="id_reporte_proveedores">
            {% include 'ajax/comprasproveedoressearch.html' %}
        </div>
    </form>
{% endblock %}