{% extends "html/base_home.html" %}
{% load humanize %}
{% block titulo %}
    <a href="/inverboy/home/proyectodetails/{{ proyecto.id }}/">Proyecto: {{ proyecto.nombre }}</a> - Detalles Informe de recepciòn
{% endblock %}
{% block script %}
{% endblock %}
{% block contenido %}
    <table>
        <tr>
            <th>Orden de compra</th>
            <td><label>OC{{ informe_recepcion.orden_compra.proyecto.id }}-{{ informe_recepcion.orden_compra.consecutivo }}</label></td>
            <th>Proveedor</th>
            <td><label>{{ informe_recepcion.orden_compra.proveedor.razon_social }}</label></td>
        </tr>
        <tr>
            <th>Fecha registro</th>
            <td><label>{{ informe_recepcion.fecha_informe|date:'Y-m-d' }}</label></td>
            <th>Informe de rececpción: </th>
            <td><label>IR{{ informe_recepcion.orden_compra.proyecto.id }}-{{ informe_recepcion.consecutivo }}</label></td>
        </tr>
        <tr>
            <th>Numero de remision</th>
            <td><label>{{ informe_recepcion.numero_remision }}</label></td>
            <th>Persona: </th>
            <td><label>{{ informe_recepcion.persona }}</label></td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td colspan="3"><label>{{ informe_recepcion.observaciones }}</label></td>
        </tr>
    </table>
    <div id="id_reporte_suministros">
        {% include 'ajax/suministrosinformerecepcionsearch.html' %}
    </div>
    <a href="/inverboy/home/imprimirinformerecepcion/{{ informe_recepcion.id }}/{{ proyecto.id }}/">Imprimir</a>
{% endblock %}