{% extends "html/base_home.html" %}
{% load humanize %}
{% block titulo %}<a href="/inverboy/home/proyectodetails/{{ proyecto.id }}">Proyecto: {{ proyecto.nombre }}</a> - Nueva orden de giro{% endblock %}
{% block script %}
    <script type="text/javascript" charset="utf-8">
        function buscarItems(proyecto_id){
            criterio = document.getElementById('id_criterio').value;
            Dajaxice.aplicacion.inverboy.buscar_items_orden_giro_proyecto_add('Dajax.process',{'pagina': 1, 'criterio': criterio, 'proyecto_id': proyecto_id});
        }
        function anadirSuministroOrdenGiro(pagina, suministro_id, criterio, proyecto_id) {
            cantidad = document.getElementById('id_text_cantidad_'+suministro_id).value;
            observaciones = document.getElementById('id_text_observaciones_'+suministro_id).value;
            document.getElementById('ahref_agregar_suministro_'+suministro_id).style.display = 'none';
            document.getElementById('id_cargando_agregar_suministro_'+suministro_id).style.display = 'block';
            Dajaxice.aplicacion.inverboy.anadir_suministro_orden_giro('Dajax.process',{ 'pagina': pagina, 'suministro_id': suministro_id, 'cantidad': cantidad, 'observaciones': observaciones, 'criterio': criterio, 'proyecto_id': proyecto_id });
        }
        function activarModificarSuministro(pagina, suministro_id, criterio, proyecto_id) {
            Dajaxice.aplicacion.inverboy.activar_modificar_suministro_orden_giro_add('Dajax.process',{ 'pagina': pagina, 'suministro_id': suministro_id, 'criterio': criterio, 'proyecto_id': proyecto_id });
        }
        function ventanaBuscarProveedores(proyecto_id){
            Dajaxice.aplicacion.inverboy.buscar_proveedores_orden_giro_proyecto_add('Dajax.process',{'pagina': 1, 'criterio': '', 'proyecto_id': proyecto_id});
        }
        function buscarProveedores(proyecto_id){
            criterio = document.getElementById('id_criterio_proveedor').value;
            Dajaxice.aplicacion.inverboy.buscar_proveedores_orden_giro_proyecto_add('Dajax.process',{'pagina': 1, 'criterio': criterio, 'proyecto_id': proyecto_id});
        }
        function seleccionarProveedor(proveedor_id, proyecto_id){
            Dajaxice.aplicacion.inverboy.seleccionar_proveedor_orden_giro_proyecto_add('Dajax.process',{'proveedor_id': proveedor_id, 'proyecto_id': proyecto_id});
        }
        function cerrarVentanaBuscarProveedores(){
            document.getElementById('fade').style.display = 'none';
            document.getElementById('light').style.display = 'none';
        }
    </script>
    {% load static %}
    {% get_static_prefix as static_prefix %}
    <link href="{{ static_prefix }}css/calendario.css" type="text/css" rel="stylesheet" charset="utf-8">
    <script src="{{ static_prefix }}js/calendar.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_prefix }}js/calendar-es.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_prefix }}js/calendar-setup.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        /* base semi-transparente */
            .overlay{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                /*z-index:10;*/
                opacity:.75;
                -moz-opacity: 0.75;
                filter: alpha(opacity=75);
            }

        /* estilo para lo q este dentro de la ventana modal */
            .modal {
                display: none;
                position: absolute;
                width: 1000px;
                height: 600px;
                left: 50%;
                top: 50%;
                margin-left: -500px;  /*Tamaño del DIV entre 2*/
                margin-top: -300px;  /*Tamaño del DIV entre 2*/
                padding: 16px;
                background: #fff;
                color: #333;
                /*z-index:11;*/
                overflow: auto;
            }
    </style>
{% endblock %}
{% block contenido %}
    <!-- base semi-transparente -->
    <div id="fade" class="overlay" onclick = ""></div>
    <!-- fin base semi-transparente -->
    <!-- ventana modal -->
    <div id="light" class="modal">
        {% include 'ajax/proveedoressearchordengiroadd.html' %}
    </div>
    <!-- fin ventana modal -->
    {% if mensaje_error != '' %}
        <label>{{ mensaje_error }}</label>
    {% endif %}
    <div>
        <div id="id_informacion_proveedor">
            {% include 'ajax/informacionproveedorordengiroproyectoadd.html' %}
        </div>
        <div id="id_reporte_suministros_requisiciones">
            {% include 'ajax/suministrosrequisicionessearchordengiroadd.html' %}
        </div>
        <form action="." method="POST">
            <input type="hidden" name="proveedor" id="id_proveedor" value="{% if proveedor != None %}{{ proveedor.id }}{% endif %}">
            <input type="submit" value="Realizar orden de giro">
        </form>
    </div>
{% endblock %}