{% extends "html/base_home.html" %}
{% load humanize %}
{% block titulo %}
    <a href="/inverboy/home/proyectodetails/{{ proyecto.id }}/">Proyecto: {{ proyecto.nombre }}</a> - Detalles Orden de giro
{% endblock %}
{% block script %}
{% endblock %}
{% block contenido %}
    <table>
        <tr>
            <th colspan="2">No.</th>
            <td><label>OG{{ orden_giro.proyecto.id }}-{{ orden_giro.consecutivo }}</label></td>
        </tr>
        <tr>
            <th>Fecha registro</th>
            <td><label>{{ orden_giro.fecha_registro|date:'Y-m-d' }}</label></td>
            <th>Proveedor</th>
            <td><label>{{ orden_giro.proveedor.razon_social }}</label></td>
        </tr>
        <tr>
            <th>Persona</th>
            <td colspan="3"><label>{{ orden_giro.persona.first_name }}, {{ orden_giro.persona.last_name }}</label></td>
        </tr>
    </table>
    <div id="id_reporte_items">
        {% include 'ajax/itemsordengirosearch.html' %}
    </div>
    <a href="/inverboy/home/imprimirordengiro/{{ orden_giro.id }}/{{ proyecto.id }}/">Imprimir</a>
{% endblock %}