{% extends "html/base_home.html" %}
{% block script %}
{% endblock %}
{% block titulo %} Capitulos APU's {% endblock %}
{% block contenido %}
    <form action="/inverboy/home/capitulossearch/" method="POST">
        <table>
            <tr>
                <td>
                    Criterio Busqueda
                </td>
                <td>
                    <input name="criterio" id="id_criterio" value="{{ criterio }}">
                </td>
                <td><input type="submit" value="Buscar"></td>
            </tr>
        </table>
    </form>
    {% if 'inverboy.add_capitulo' in user.get_all_permissions %}
        <a href="/inverboy/home/capituloadd/">Nuevo capitulo</a>
    {% endif %}
    <div id="id_reporte_capitulos">
        {% include 'ajax/capitulosearch.html' %}
    </div>
{% endblock %}